<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="admin_navstyle.css"
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul class="nav-links">
        <li><a href="#">Dashboard</a></li>
        <li class="center"><a href="#">Portfolio</a></li>
        <li class="upward"><a href="#">Services</a></li>
        <li class="forward"><a href="#">Feedback</a></li>
    </ul>
    
</body>
</html>